<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenkee.spaceshooter" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="TitleScreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation = "portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="SettingsActivity"
            android:label="@string/settings_title"
            android:screenOrientation = "portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.greenkee.spaceshooter.GameActivity"
            android:theme = "@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greenkee.spaceshooter.GameActivity" />
        </activity>
        <activity
            android:name=".DisplayHighScores"
            android:label="High Scores TEST"
            android:screenOrientation = "portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.greenkee.spaceshooter.GameActivity"
            android:theme = "@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greenkee.spaceshooter.GameActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation = "portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.greenkee.spaceshooter.TitleScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greenkee.spaceshooter.TitleScreen" />
        </activity>
    </application>

</manifest>
